--- 
--- 

.person-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.person {
    background-color: #f3eaf5;
    overflow: hidden;
    border-radius: 10px;

    display: flex;

    margin: 10px;

    align-items: center;

    .picture {
        width: 200px;
        height: 100%;
        object-fit: cover;
        flex: 0 0 auto;
        border-right: 1px solid #222;
    }

    .details {
        min-height: 150px;

        flex: 1 1 auto;
        padding: 10px;

        .name {
            font-family: arsenica-variable, serif;
            font-weight: bold;
            font-size: large;
        }

        .job {
            color: #888;
            &:before {
                content: " - ";
            }
        }

        .bio {
            margin-top: 0.5em;
            margin-left: 1em;
            color: black;

            font-family: Verdana, sans-serif !important;
            font-size: 0.9em;
            margin-bottom: 0;
        }

        .social-row {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 800px) {
  .person {
    flex-direction: column;

    .picture {
      height: 300px;
      width: 80%;
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
      border: 1px solid #222;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .person-container {
    grid-template-columns: 1fr;
  }

  .person {
    max-width: 700px;
  }
}