---
layout: page
---

<div class="w3-display-container w3-content w3-wide pictureOutline">
  <!-- Large Image -->
  <div>
    <img id="bottom" style="height:auto; width:100%; position:absolute;" src="images/logo/AstralForge_LightConstellationPattern.svg" alt="Astral Forge Light Constellation Pattern.">
  </div>
  <div>
      <img id="top" class="w3-center" src="images/logo/AstralForge_DarkHorizontal.svg" alt="Astral Forge Logo and Name">
  </div>
</div>


<!-- Company Motto -->
<h2 class="w3-center" style="font-size:35px;"><b><i>Creating immersive story-driven worlds for our players to explore and enjoy!</i></b></h2>

<!-- Company About Us Section and Image -->
<div class="w3-row">
  <!-- Side Picture -->
  <div class="w3-col w3-container w3-center" id="protoPlayDiv">
    <img class="w3-image" id="protoPlay" src="images/ProtoPlayTeam.jpg" alt="The Team">
  </div>

  <!-- About Us section header -->
  <div id="aboutUs" class="w3-col w3-container">
    <h1><b>ABOUT US</b></h1>
    <p>Astral Forge is made up of a team of graduates from the University of Staffordshire and we are working to create immersive story-driven worlds for our players to explore and enjoy. We are a group of friends striving to put their mark on the games industry through our passion and dedication to the craft. Our team consists of programmers, designers, animators, artists, and more who are all experts in their area and are excited to show what they can do in a professional setting.</p>
  </div>
</div>

<br>

<!-- Quote slideshow -->
<div class="quoteContainer">
  <h2 class="quoteContainerTitle w3-center">A Bit More:</h2>
  <p class="item-1">Sign up to our Mailing List!<br><a class="qLinks" href="https://astralforge.beehiiv.com/subscribe" target="_blank">Click Here!</a></p>
  <p class="item-2">The main software that we are using:     
    <img class="qImages" src="images/software/UnrealLogo.png" alt="Link to TikTok."><img class="qImages" src="images/software/MayaLogo.png" alt="Link to TikTok.">
    <img class="qImages" src="images/software/MotionBuilderLogo.png" alt="Link to TikTok."><img class="qImages" src="images/software/PhotoshopLogo.png" alt="Link to TikTok.">
    <img class="qImages" src="images/software/BlenderLogo.png" alt="Link to TikTok."><img class="qImages" src="images/software/SubstanceLogo.png" alt="Link to TikTok.">
    <img class="qImages" src="images/software/ViconLogo.png" alt="Link to TikTok."></p>
  <p class="item-3">Follow us on social media!<br><a class="qLinks" href="https://beacons.ai/astralforge" target="_blank">Click Here!</a></p>  
  </div>

<br>

<!-- Welcome To Astral Forge Section header -->
<h2 class="w3-center"><b>WELCOME TO ASTRAL FORGE,</b></h2>
<p class="w3-center" style="margin-top:-10px;">An indie company working to create fantasy worlds for our audiences to enjoy.</p>

<!-- 3 section headings -->
<div class="w3-container w3-row">
  <!-- Our History Header -->
  <div class="w3-third w3-container">
    <h2 class="w3-center"><b>OUR HISTORY</b></h2>

    <!-- Content description -->
    <p class="w3-center">Astral Forge has been a dream for a long time. When you are asked as a child what you want to do when you "grow up" well this was our answer.
      We want to make video games! Games that inspire, immerse, and captivate audiences.</p>
    
    <p class="w3-center section-text" >The studio was created with our players in mind. We want to allow our players to escape from reality and find worlds that truly feel like home. 
      The sort of spaces that you would only find in the stars.</p>
    <!-- Read More button -->
    <div class="w3-center"><a class="w3-round readMoreButton" href="index.html">Read More</a></div>
    <br class="w3-hide-large w3-hide-medium">
  </div>

  <!-- Our Mission Header -->
  <div class="w3-third w3-container">
    <h2 class="w3-center"><b>OUR MISSION</b></h2>

    <!-- Content description -->
    <p class="w3-center">There is an overwhelming passion for gaming in each member of our team. It comes from what we do, the hobbies we enjoy, what we surround ourselves
      with, the people we are accompanied by, and so much more.</p>
    
    <p class="w3-center section-text">We want to hone that passion and turn it into something that everyone can experience and enjoy. It is what makes us and the games
      that we create so unique. As a studio, we have one mission: make the best video games we can!</p>
    <!-- Read More button -->
    <div class="w3-center"><a class="w3-round readMoreButton" href="games.html">Read More</a></div>
    <br class="w3-hide-large w3-hide-medium">
  </div>

  <!-- Meet the Team Header -->
  <div class="w3-third w3-container">
    <h2 class="w3-center"><b>MEET THE TEAM</b></h2>

    <!-- Content description -->
    <p class="w3-center">The studio is home to some of the industry’s finest, professionals from all over the
      country with a shared love of gaming.</p>
    
    <p class="w3-center section-text">As a small studio, Astral Forge is place that allows every member of the team to be themselves and showcase their talent
      and skill in the projects that we create. Every member of the team has a say over the design of the game, and you can find each person's unique influence all throughout the projects that we create.</p>
      <!-- Read More button -->
    <div class="w3-center"><a class="w3-round readMoreButton" href="team.html">Read More</a></div>
    <br class="w3-hide-large w3-hide-medium">
  </div>
</div>

<br><hr><br>

{% assign events = site.data['events'] %}

<!-- Events Section header -->
<p class="w3-center">The team at Astral Forge have been busy and not just with game development.</p>
<div>
  
  <h3 class="w3-center"><b>UPCOMING EVENTS</b></h3>
  <br>

  <div class="w3-row w3-row-padding" style="padding-left:5%; padding-right:5%; text-align: center;">
    
    {% for event in events.future-events %}

    <div class="future-event s12 m3 w3-center w3-col">
      <a href="{{ event.link }}" target="_blank">
        <div class="eventSquare w3-center">
          <div class="imageWrap">
            <img class="w3-image eventSquareImage" src="{{ event.image }}" alt="University of Staffordshire Logo">
          </div>
          <h3 style="padding-top:2px;">{{ event.name }}</h3>
          <div class="w3-row">
            <div class="w3-col w3-container eventSquareSmall w3-center" style="width:30%">
              {% assign date = event.date | split: " " %}
              {% assign has_number = false %}
              {% for i in (0..9) %}
                {% if date[0] contains i %}
                  {% assign has_number = true %}
                {% endif %}
              {% endfor %}

              {% if has_number %}
                {% if date[1] contains "-" %}
                  <p><b>{{ date[0] }} - {{ date[2] }}</b></p>
                  <p>{{ date[3] | upcase }}</p>
                  <p>{{date[4]}}</p>
                {% elsif date[2] contains "-" %}
                  <p><b>{{ date[0] }}</b> {{ date[1] | upcase }} -</p>
                  <p><b>{{ date[3] }}</b> {{ date[4] | upcase }} -</p>
                  <p>{{ date[5] }}</p>
                {% else %}
                  <p><b>{{ date[0] }}</b></p>
                  <p>{{ date[1] | upcase }}</p>
                  <p>{{ date[2] }}</p>
                {% endif %}
              {% else %}
                <p>{{ date[0] | upcase }} -</p>
                <p>{{ date[2] | upcase }}</p>
                <p>{{ date[3] }}</p>
              {% endif %}
            </div>
            <div class="w3-col w3-container" style="width:70%">
              <span class="event-description">{{ event.description }}</span>
            </div>
          </div>
        </div>
      </a>
    </div>

    {% endfor %}
    
  </div>
</div>

<div>
  
  <br>
  <h3 class="w3-center"><b>PREVIOUS EVENTS</b></h3>
  <br>

    <div id=mySlides class="fade w3 row w3-row-padding">
        {% for event in events.past-events %}
        <div class="past-event w3-col s12 m3 w3-center">
          <a href="{{ event.link }}" target="_blank">
            <div class="eventSquare w3-center">
              <div class="imageWrap">
                <img class="w3-image eventSquareImage" src="{{ event.image }}" alt="Game Anglia Direct Logo">
              </div>
              <h3 style="padding-top:2px;">{{ event.name }}</h3>
              <div class="w3-row">
                <div class="w3-col w3-container eventSquareSmall w3-center" style="width:30%">
                  {% assign date = event.date | split: " " %}
                  {% assign has_number = false %}
                  {% for i in (0..9) %}
                    {% if date[0] contains i %}
                      {% assign has_number = true %}
                    {% endif %}
                  {% endfor %}

                  {% if has_number %}
                    {% if date[1] contains "-" %}
                      <p><b>{{ date[0] }} - {{ date[2] }}</b></p>
                      <p>{{ date[3] | upcase }}</p>
                      <p>{{date[4]}}</p>
                    {% elsif date[2] contains "-" %}
                      <p><b>{{ date[0] }}</b> {{ date[1] | upcase }} -</p>
                      <p><b>{{ date[3] }}</b> {{ date[4] | upcase }} -</p>
                      <p>{{ date[5] }}</p>
                    {% else %}
                      <p><b>{{ date[0] }}</b></p>
                      <p>{{ date[1] | upcase }}</p>
                      <p>{{ date[2] }}</p>
                    {% endif %}
                  {% else %}
                    <p>{{ date[0] | upcase }} -</p>
                    <p>{{ date[2] | upcase }}</p>
                    <p>{{ date[3] }}</p>
                  {% endif %}
                </div>
                <div class="w3-col w3-container" style="width:70%">
                  <span class="event-description">{{ event.description }}</span>
                </div>
              </div>
            </div>
          </a>
        </div>

        {% endfor %}
  
      </div>
    </div>
  


  <br>
  <!-- The dots/circles -->
  <div style="text-align:center">
    <a id="prev">&#10094;</a>
    <div id="dots" style=""></div>
    <a id="next">&#10095;</a>
  </div>
</div>

<br>

<script>
  {% include slides.js %}
  {% include hamburger.js %}
</script>