/* Removing any borders */
html, body {
  	margin: 0;
  	display: flex;
  	padding: 0;
  	flex-direction: column;
	overflow-x: hidden;
}

main {
  flex: 1 0 auto;
}

h1, h2 {
	font-family: "arsenica variable", serif !important;
	font-variation-settings: "wght" 500 !important;
}

/* Navigation Bar */
/* -------------------------------------------------------------------------------------------------------- */

/* Add a black background color to the top navigation */
.topNav {
  background-color: #f3eaf5;
  height: 80px;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topNavLinks {
  color: #000000;
  text-decoration: none;
  font-size: 25px;
}
.topNavButton {
  color: #000000;
  font-size: 25px;
  text-decoration: none;
}

/* Add a color to the active/current link on the navigation bar */
.topnavlinks:focus {
  color: #000000;
  text-decoration: underline #573d90;
}

/* Change the color of links on hover */
.topnavlinks:hover, .topnavbutton:hover {
  color: #c7a6cf;
}

/* Fitting the logo correctly to the screen*/
.topnav #logo {
  margin: 6px;
  align: center;
}

.logoNav {
  max-height: 100%;
  max-width: 100%;
}

/* Ensuring that whatever page the user is on, is always underlined in the navigation bar */
#currentPage {
  color: #000000;
  text-decoration: underline #c7a6cf;
}

/* Making each link clear in the hamburger menu dropdown */
.hamburgerMenu {
  padding-top: 80px;
}

/* Creating the bottom border for pictures */
.pictureOutline {
  border-bottom: #c7a6cf 10px solid;
}

/* Home */
/* -------------------------------------------------------------------------------------------------------- */

/* Creating the quote slideshow elements */
.quoteContainerLarge {
  position: relative;
  border-top: #c7a6cf 10px solid;
  background-color: #292929; 
  width: 100%; 
  height: 200px;
  border-bottom: #c7a6cf 10px solid;
}
.quoteContainerSmall {
  position: relative;
  border-top: #c7a6cf 10px solid;
  background-color: #292929; 
  width: 100%; 
  height: 300px;
  border-bottom: #c7a6cf 10px solid;
}

.quoteContainerTitle {
  color: white;
  font-size: 30px;
}

/* Adding design and animation to the text */
.item-1, .item-2, .item-3 {
  color: white;
	position: absolute;
  display: block;
  width: 75%;
  font-style: italic;
  font-size: 20px;
  text-align: center;
	animation-duration: 30s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.qImages {
	padding-left:5px; 
	padding-right:5px;
	height: 50px;
}

.qLinks {
	color: #ffffff;
}

.qLinks:hover {
	color: #c7a6cf;
	text-decoration: underline #c7a6cf;
}

/* Specifying the animation */
.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 12%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 12%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 12%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Creating the "Read More" button elements */
.readMoreButton:hover {
  color:white;
  border-color:black;
  background-color:black;
}

.readMoreButton{
  border-color:#c7a6cf;
  padding: 2px;
  color:#c7a6cf; 
  font-size:20px; 
  text-decoration:none;
  border: 3px solid #c7a6cf;
}

/* Team */
/* -------------------------------------------------------------------------------------------------------- */

.teamImage {
	  margin-top: 4px;
	  border: 2px solid black;
	  width: 300px;
}

.teamFollow {
	  margin-top: -5px;
	  font-size: 17px;
	  color: #717171;
	  text-decoration: underline;
}

.socialLink {
	padding-left:10px; 
	height: 30px;
}

.highlight-box {
  	background-color: #c7a6cf; /* or any color you like */
  	border-radius: 5px;
 	margin-bottom: 5px;
	max-width: 310px;        /* responsive max width */
  	margin: 0 auto;
}

.highlight-box2 {
  	background-color: #f3eaf5; /* or any color you like */
  	border-radius: 5px;
 	margin-bottom: 5px;
	max-width: 300px;        /* responsive max width */
  	margin: 0 auto;
}

.contactLinks:hover {
	color: #c7a6cf;
	text-decoration: underline #c7a6cf;
}


/* Jobs */
/* -------------------------------------------------------------------------------------------------------- */

.webLinksText {
  font-size: 18px;
  text-decoration: none;
}

.webLinksText:hover, .jobSpecLink:hover {
  text-decoration: underline #c7a6cf; 
}

/* Dropdown Button */
.teamDropbtn, .locationDropbtn {
  color: black;
  padding: 5px;
  font-size: 16px;
  border: 2px solid black;
  cursor: pointer;
  min-width: 230px;
}

/* Dropdown button on hover & focus */
.teamDropbtn:hover, .teamDropbtn:focus, .locationDropbtn:hover, .locationDropbtn:focus {
  border-color: #c7a6cf;
  color: #c7a6cf;
}

/* The container <div> - needed to position the dropdown content */
.teamDropdown, .locationDropDown {
  position: relative;
  display: inline-block;
  padding-left: 1%;
}

/* Dropdown Content (Hidden by Default) */
.teamDropdownContent, .locationDropdownContent {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #000000;
  z-index: 1;
}

/* Links inside the dropdown */
.teamDropdownContent a, .locationDropdownContent a {
  border: 1px solid #000000;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.teamDropdownContent a:hover, .locationDropdownContent a:hover {
  color: #e3122a;
  text-decoration: underline;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.jobTeamShow, .jobLocationShow {
  display:block;
}

hr.solid {
  border-top: 2px solid #000000;
  width: 98%;
}

/* Job Specification */
/* -------------------------------------------------------------------------------------------------------- */

.jobSpecText {
  margin-top: -10px; 
  font-size: 17px;
}

.interestedButton {
  background-color: #c7a6cf;
  color: #ffffff; 
  font-size: 25px; 
  text-decoration: none;
  border: 2px solid #c7a6cf;
  padding-left: 3%;
  padding-right: 3%;
}

.referButton {
  background-color: #ffffff;
  color: #c7a6cf; 
  font-size: 25px; 
  text-decoration: none;
  border: 2px solid #c7a6cf;
  padding-left: 3%;
  padding-right: 3%;
}

/* Job Apply */
/* -------------------------------------------------------------------------------------------------------- */
.formBoxApply {
  width: 40%;
  margin-left: 5%;
  display:inline-block; 
  vertical-align:top;
}

.formBoxApplySmall {
  width: 80%;
  margin-left: 10%;
  display:inline-block; 
  vertical-align:top;
}

.submitButton{
  border-color:#c7a6cf;
  background-color: #c7a6cf;
  padding: 2px;
  color:#ffffff; 
  font-size:20px; 
  text-decoration:none;
  border: 3px solid #c7a6cf;
}

.submitButton:hover{
  border-color:#000000;
  background-color: #000000;
  padding: 2px;
  color:#ffffff; 
  font-size:20px; 
  text-decoration:none;
  border: 3px solid #000000;
}

/* Footer */
/* -------------------------------------------------------------------------------------------------------- */

/* Creating the footer design elements */
.footerLarge {
  background-color: black;
  height: 400px;
  width: 100%;
  flex-shrink: 0;
}

.footerSmall {
  background-color: black;
  height: 600px;
  width: 100%;
  flex-shrink: 0;
}

.logoFooter {
  padding-top: 10px;
  max-width: 75%;
  max-height: 75%;
}

.socialFooterLarge { 
  height: 50px;
}

.socialFooterSmall {
  height: 50px;
}

.headingFooter {
  color: #c7a6cf;
  padding-top: 10px;
}
