---
layout: page
styles:
  - /css/team.css
---

<!-- Page title -->
<h1 style="padding-top:20px; padding-bottom:20px; text-align: center;"><b>OUR TEAM</b></h1>

<div class="person-container">

  {% assign team = site.data['team'] %}
  {% for person in team %}
  <div class="person">
    <img class="picture" src=" {{person.image | relative_url }}" alt="Picture of {{ person.name }}">

    <div class="details">
      <span class="name">{{ person.name }}</span>
      <span class="job">{{ person.job }}</span>

      <p class="bio">
        <b>Role: </b> {{ person.role }}<br><br>
        <b>Why I make games: </b>{{ person.why_make_games }} <br><br>
        <b>Favourite Game: </b> {{person.fav_game }}<br><br>
      </p>

      <div class="social-row">
        <a class="teamFollowLink" >

          <span class="teamFollow">Follow on:</span>

          <a href="{{ person.linkedin }} "><img class="socialLink" src="images/software/LinkedInLogo.png" alt="LinkedIn logo"></a>
          {% if person.artstation %}
          <a href="{{ person.artstation }} "><img class="socialLink" src="images/software/Artstation.svg" alt="Artstation Logo"></a>
          {% endif %}
        </a>
      </div>
    </div>

  </div>

  {% endfor %}
</div>


<br>

<script>
  {% include hamburger.js %}
</script>