---
layout: page
styles:
  - /css/team.css
---

<!-- Page title -->
<h1 style="padding-top:20px; padding-bottom:20px; text-align: center;"><b>OUR TEAM</b></h1>

{% assign team = site.data['team'] %}
{% for person in team %}
<div class="person-container">
  <div class="person">
    <img class="picture" src=" {{person.image | relative_url }}" alt="Picture of {{ person.name }}">

    <div class="details">
      <span class="name">{{ person.name }}</span>
      <span class="job">{{ person.job }}</span>

      <p class="bio">
        <b>Role: </b> {{ person.role }}<br><br>
        <b>Why I make games: </b>{{ person.why_make_games }} <br><br>
        <b>Favourite Game: </b> {{person.fav_game }}<br><br>
      </p>

      <div class="social-row">
        <a class="teamFollowLink" href="{{ person.linkedin }}" target="_blank">

          <span class="teamFollow">Follow on:</span>

          <img class="socialLink" src="images/software/LinkedInLogo.png" alt="LinkedIn logo">
          {% if person.artstation %}
          <img class="socialLink" src="images/software/Artstation.svg" alt="Artstation Logo">
          {% endif %}
        </a>
      </div>
    </div>

  </div>
</div>

{% endfor %}

<br>

<script>
  {% include hamburger.js %}
</script>