<!-- Footer -->
<div class="footerSmall"> 
    <!-- Making space for a logo -->
    <div class="w3-row">
        <div class="w3-col w3-container w3-third"></div>
        <div class="w3-col w3-container w3-third w3-center">
        <!-- Logo -->
        <a href="index.html"><img class="logoFooter" src="images/logo/AstralForge_LightHorizontal.svg" alt="Astral Forge Logo and Name."></a>
        </div>
        <div class="w3-col w3-container w3-third"></div>
    </div>

    <div class="w3-row">
        <!-- Adding the rest of the footer details -->
        <div class="w3-col w3-container w3-third">
            <!-- Contact -->
            <h2 class="w3-center headingFooter"><b>CONTACT</b></h2>
            <a href="contact.html"><p class="w3-center" style="color:white; font-size:20px;">Make an inquiry</p></a>
        </div>
        
        <div class="w3-col w3-container w3-third w3-center">
            <!-- Social -->
            <h2 class="headingFooter"><b>SOCIALS</b></h2>
            <!-- Large screens -->
            <a href="https://www.instagram.com/astralforgeofficial/" target="_blank"><img class="socialFooterLarge" src="images/software/InstagramLogo.png" alt="Link to Instagram."></a>
            <a href="https://bsky.app/profile/astral-forge.bsky.social" target="_blank" style="padding:5px;"><img class="socialFooterLarge" src="images/software/Bluesky Logo.png" alt="Link to BlueSky."></a>
            <a href="https://www.tiktok.com/@astralforgeofficial" target="_blank"><img class="socialFooterLarge" src="images/software/TikTokLogo.png" alt="Link to TikTok."></a>
        </div>
        
        <div class="w3-col w3-container w3-third">
        <!-- Legal -->
        <h2 class="w3-center headingFooter"><b>LEGAL</b></h2>
        <p class="w3-center" style="color:white; font-size:20px;">Coming Soon</p>
        </div>
    </div>

    <p class="w3-center" style="padding-left:10px; color:#cdcdcd; font-size:15px;">© 2026 Astral Forge. All rights reserved.</p>
</div>